.neomorphism{
  // background:red;
  box-shadow: 2px 2px 12px #000000c7, -1px -2px 12px #a3a3a380;
}
.neomorphism--light{
  // background:red;
  box-shadow: 4px 4px 12px #20202075, -4px -4px 12px #979797a4;
}
.msg--other{
  float: right;
  color:#181818;
  font-weight: bold;
  background-color: #f3563e;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // @include media("<=LGphone"){
  //   // background-color: #E8494A;
  // }
  .message--txt{
    color: #fafafa;
    font-weight: 100;
  }
}
.hide--img{
  display: none;
}
.msg--usr--img{
  margin-left: 1rem;
  width: 65px;
  height: 65px;
  border-radius: .6rem;
  padding: .2rem;
}
.message--in{
  animation: messageIn 300ms ease forwards;
}

@keyframes messageIn{
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}