.login__popup__container{
  width:50%;
  margin:0 auto;
  background: rgba(34, 131, 223, 0.2);
  padding: 1rem;
  border-radius: 6px;
  position: absolute;
  top:5%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  h5{
    color: #fff;
  }
  img{
    width: 50px;
    height:50px;
  }
}
.login--popup--in{animation: popin 500ms ease-in-out forwards;}
.login--popup--out{animation: popout 500ms ease-in-out forwards;}

@keyframes popin {
  from{
    opacity: 0;
    display: none;
    top: -20%;
  }
  to{
    opacity: 1;
    display: block;
    top: 5%;
  }
}
@keyframes popout{
  to{
    opacity: 0;
    display: none;
    top: -20%;
  }
}